*.upx
*.bak
*.bkp
*.tmp
*.temp
*.log
*.scc
*.old
*.err*
*.ppx_*
*.exe
*.0*
*.ini
*.a
*.o
*.cnt
*.cld
mg_error_log.htm

/lib
/lib/wce/mingwarm/.hbmk
/lib/win/mingw/.hbmk
/lib/win/mingw64/.hbmk
/mk/tbigN_log
/mk/*.ini
/tbigN_err
/tbigN_log
/tbigN_tmp
/exe/win/mingw/*
/exe/win/mingw64/*
/exe/mg/mingw/*
/exe/wce/mingwarm/*.exe
/exe/cygwin
/prj/mg/win/32/__mih_obj_m2wh
/prj/mg/win/32/*.txt
/prj/mg/win/64/__mih_obj_m2wh
/prj/mg/win/64/__mih_obj_m3wh
/prj/mg/win/64/*.txt
/PrimesTables/*.txt
/mk/ERROR
/mk/cmp.txt