*.upx
*.bak
*.bkp
*.tmp
*.temp
*.log
*.scc
*.old
*.err*
*.ppx_*
*.exe
*.0*
*.ini
*.a
*.o
*.cnt

/lib
/lib/wce/mingwarm/.hbmk
/lib/win/mingw/.hbmk
/lib/win/mingw64/.hbmk
/mk/tbigN_log
/mk/*.ini
/source/hb_q_rsqrt.c
/source/__tbignumber.prg
/tbigN_err
/tbigN_log
/tbigN_tmp
/exe/win
/exe/mg
/prj/mg/win/32/__mih_obj_m2wh
/prj/mg/win/32/*.TXT
/prj/mg/win/64/__mih_obj_m2wh
/prj/mg/win/64/*.TXT
/PrimesTables/*.txt
