*.upx
*.bak
*.bkp
*.tmp
*.temp
*.log
*.trc
*.scc
*.old
*.err*
*.erx_prg
*.erx_prw
*.ppx_*
*.exe
*.0*
*.ini
*.a
*.o
*.cnt
*.cld
mg_error_log.htm

/lib
/lib/wce/mingwarm/.hbmk
/lib/win/mingw/.hbmk
/lib/win/mingw64/.hbmk
/mk/tbigN_log
/mk/*.ini
/mk/ERROR
/mk/*.txt
/tbigN_err
/tbigN_log
/tbigN_tmp
/tbigN_trc
/exe/win/mingw/*
/exe/win/mingw64/*
/exe/mg/mingw/*
/exe/wce/mingwarm/*.exe
/exe/cygwin
/prj/mg/win/32/__mih_obj_*
/prj/mg/win/32/*.txt
/prj/mg/win/32/*.hot
/prj/mg/win/64/__mih_obj_*
/prj/mg/win/64/*.txt
/prj/mg/win/64/*.hot
/PrimesTables/txt/*.txt
gcc
launch.json
settings.json
tasks.json
workspace.code-workspace
primes1.txt
primes10.txt
primes11.txt
primes12.txt
primes13.txt
primes14.txt
primes15.txt
primes16.txt
primes17.txt
primes18.txt
primes19.txt
primes2.txt
primes20.txt
primes21.txt
primes22.txt
primes23.txt
primes24.txt
primes25.txt
primes26.txt
primes27.txt
primes28.txt
primes29.txt
primes3.txt
primes30.txt
primes31.txt
primes32.txt
primes33.txt
primes34.txt
primes35.txt
primes36.txt
primes37.txt
primes38.txt
primes39.txt
primes4.txt
primes40.txt
primes41.txt
primes42.txt
primes43.txt
primes44.txt
primes45.txt
primes46.txt
primes47.txt
primes48.txt
primes49.txt
primes5.txt
primes50.txt
primes6.txt
primes7.txt
primes8.txt
primes9.txt
/exe
/_commit.txt
